# Python cache
__pycache__/
*.pyc
*.pyo

# Logs
*.log

#Content
# Outputs/*
# !Outputs/AbstractImages/.gitkeep
# !Outputs/AbstractGif/.gitkeep


auto_LiRPA/*
#!auto_LiRPA/.gitkeep

nerfstudio/*
# !nerfstudio/data/
# !nerfstudio/data/ariplane_grey
# !nerfstudio/data/ariplane_grey/*.*

# !nerfstudio/outputs/
# !nerfstudio/outputs/ariplane_grey/
# !nerfstudio/outputs/ariplane_grey/splatfacto/2025-08-02_025446/
# !nerfstudio/outputs/ariplane_grey/splatfacto/2025-08-02_025446/*.*
